@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0c1a22;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #091829;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(13, 55, 68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}